#root {
    display: grid;
    grid-template-columns: max-content 1fr 10vw;
    grid-template-rows: max-content 1fr max-content;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    margin: 0 0 1em 0;
    font-size: 2em;
    text-transform: capitalize;
}
nav {
    grid-area: 2 / 1 / 3 / 2;
}
header {
    grid-area: 1 / 1 / 2 / 2;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 1em;
    max-width: 1000px;
}

.options {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #eee;
}