@mixin button-styles {
    background-color: var(--btn-bg);
    border: 1px solid var(--line-color);
    font-family: var(--font);
    font-size: 1em;

    &:hover,
    &:focus {
        background-color: var(--btn-bg-hover);
    }
}

#wrapper {
    grid-template-columns: max-content 1fr 10vw;
    grid-template-rows: max-content minmax(50vh, 1fr) max-content;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    background-color: var(--bg-color);
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
ul {
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
}

h2 {
    margin: 2em 0;
    font-weight: 500;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    line-height: 1;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.options {
    grid-area: 2 / 3 / 3 / 4;
    text-align: right;
    position: relative;

    button {
        @include button-styles;
        padding: 5px 10px;
        position: absolute;
        right: -1px;

    }
}


@media(max-width: 1060px) {
    main {
        margin: 0 30px;
    }
}