@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

:root, [data-theme='light'] {
  --font: 'Work Sans', sans-serif;
  --text-color: black;
  --bg-color: white;
  --line-color: black;
  --btn-bg: white;
  --btn-bg-hover: black;
}

[data-theme='light'] {
  --text-color: black;
  --bg-color: white;
  --line-color: black;
  --shadow: black;
  --card-bg: transparent;
  --btn-bg: white;
  --btn-bg-hover: black;
}

[data-theme='dark'] {
  --text-color: #fffffe;
  --bg-color: #000001;
  --line-color: #eff;
  --shadow: transparent;
  --card-bg: #222;
  --btn-bg: #222;
  --btn-bg-hover: #fffffe;
}

body {
  margin: 0;
}